body {
    background-color:antiquewhite;
}

h1 {
    color:darkgoldenrod;
    text-align: center;
    border: 10px solid transparent;
    padding: 15px;
    border-image: url(fondomadera.jpg) 15 round;
    margin-right: 220px;
    margin-left: 220px;
    text-shadow: 1px 1px bisque;
}

.contacts {
    text-align: center;
}

#logotec {
    float: right;
    border-radius: 30%;
    display: flex;
    opacity: 0.85;
    filter: grayscale(100%);
    margin-right: 10px;
}

h3 {
    color:darkcyan;
    text-shadow: 1px 1px cadetblue;
    border-style:double;
    border-color:lightsteelblue;
    border-radius: 7px;
    margin-right: 880px;
    padding-left: 9px;
    letter-spacing: 2px;
    font-family: Copperplate, Papyrus, fantasy;
}

.subheadings {
    color:indianred;
    text-decoration: underline;
    letter-spacing: 1px;
    font-family: "Courier New", Courier, monospace;
}

.dates {
    font-size: 13px;
    padding-top: 4px;
    padding-bottom: 2px;
}